.design{
    display: flex;
    height: 100vh;
  
}
.hero{
    color: whitesmoke;
    flex-direction: column;
    display: flex;
    max-width:1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    scroll-behavior: smooth;
    
}
.hero-body{
    background: linear-gradient(180deg, rgb(211, 209, 209), #e1ffea22 40%);
    margin: 0 auto;
    height: 48vh;
    display: flex;
    flex-direction: column;
}

.hero h2{
    font-size: 40px;
    font-weight: bolder;
    max-width: 600px;
    margin: 0 auto;
}
.hero p{
    color: white;
    font-size: 20px;
    margin: 30px auto;
    max-width: 550px;
    font-weight: 900px;
    font-style: italic;
}
.hero-latest button{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 75px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    background-color: rgb(221, 33, 33);
    cursor: pointer;
}
.hero-latest{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
}